.market-overview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  margin: 25px 0;
}

.market-card {
  background: white;
  border-radius: 18px;
  padding: 18px;
  border: 1px solid #ececec;
  box-shadow: 0 3px 10px rgba(0,0,0,.04);
  transition: .25s;
}

.market-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 24px rgba(0,0,0,.08);
}

.market-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:18px;
}

.market-header h4{
  margin:0;
  font-size:16px;
  font-weight:600;
}

.market-header button{
  background:#f4f7ff;
  color:#2563eb;
  border:none;
  border-radius:8px;
  padding:6px 12px;
  cursor:pointer;
  font-size:13px;
}

.market-content{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.market-content h5{
  margin:0;
  font-size:15px;
  font-weight:600;
}

.market-right{
  display:flex;
  align-items:center;
  gap:14px;
  font-size:14px;
}

.green{
  color:#22c55e;
  font-weight:600;
}

.red{
  color:#ef4444;
  font-weight:600;
}

.system-status{
  display:flex;
  align-items:center;
  gap:12px;
  margin-top:10px;
}

.status-circle{
  width:32px;
  height:32px;
  border-radius:50%;
  background:#dcfce7;
  color:#16a34a;
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:bold;
}

.system-status span{
  color:#16a34a;
  font-weight:500;
}

@media(max-width:1200px){
    .market-overview{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:700px){
    .market-overview{
        grid-template-columns:1fr;
    }
}